.Visualizer {
	/* height: 100%; */
}

.Unity {
	height: 100%;
	width: 100%;
}

#message-pane {
	/* height: 150px; */
	margin: 1.5em auto 1em auto;
	width: 100%;
	height: auto !important;
	font-size: 24pt !important;
}

.message-pane {
	margin: 1.5em auto 1em auto;
	width: 100%;
	height: auto !important;
	font-size: 24pt !important;
}

.parent-svg {
	display: flex;
	justify-content: space-around;
}

#banner {
	height: fit-content;
	overflow-y: hidden !important;
	overflow-x: scroll;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 1em;
}

.button {
	white-space: nowrap;
}

.parent-svg {
	display: flex;
	margin-right: auto;
	margin-left: auto;
}

@media screen and (max-width: 850px) {
	#banner {
		justify-content: left;
		align-items: left;
		text-align: left;
	}
}

@media screen and (max-width: 1400px) {
	.parent-svg {
		display: block;
		height: fit-content;
		overflow: visible;
		margin-right: auto;
		margin-left: auto;
	}
}

input[type="range"]::-webkit-slider-thumb {
  background: #FFC904 !important;
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  background: #FFC904 !important;
}


input[type="range"]::-ms-thumb {
	background: #FFC904 !important;
}



input[type="range"]::-ms-track {
	background: black !important;
	border: 1px solid #ffc904a5;

}

input[type="range"]::-moz-range-track {
	background: black !important;
	border: 1px solid #FFC904a5;

}

input[type="range"]::-webkit-slider-runnable-track {
	background: black !important;
	border: 1px solid #FFC904a5;
}

input[type="range"] {
	background: black !important;
	/* border: 1px solid yellow; */
}