.Visualizer {
	/* height: 100%; */
}

.Unity {
	height: 100%;
	width: 100%;
}

#message-pane {
	/* height: 150px; */
	margin: 1.5em auto 1em auto;
	/* width: 100%; */
	height: auto !important;
	font-size: 24pt !important;
}

.message-pane {
	margin: 1.5em auto 1em auto;
	/* width: 100%; */
	height: auto !important;
	font-size: 24pt !important;
}

@media (max-width: 550) {
	#message-pane {
		/* height: 150px; */
		margin: 1em auto 1em auto;
		/* width: 100%; */
		height: 100px !important;
		font-size: 24pt !important;
	}
	
	.message-pane {
		margin: 1em auto 1em auto;
		/* width: 100%; */
		height: 100px !important;
		font-size: 24pt !important;
	}
}

.parent-svg {
	display: flex;
	justify-content: space-around;
}

#banner {
	height: fit-content !important;
	overflow-y: hidden !important;
	overflow-x: scroll;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 1em;
}

.button {
	white-space: nowrap;
}

.parent-svg {
	display: flex;
	flex-direction: row;
	margin-right: auto;
	margin-left: auto;
}

@media screen and (max-width: 850px) {
	#banner {
		justify-content: left;
		align-items: left;
		text-align: left;
	}
}

@media screen and (max-width: 650px) {
	.parent-svg {
		flex-direction: column;
		/* display: block;
		height: fit-content;
		overflow: visible;
		margin-right: auto;
		margin-left: auto; */
	}
}

input[type="range"]::-webkit-slider-thumb {
	background: var(--accentColor) !important;
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
	background: var(--accentColor) !important;
}


input[type="range"]::-ms-thumb {
	background: var(--accentColor) !important;
}



input[type="range"]::-ms-track {
	background: var(--backgroundColor) !important;
	border: 1px solid var(--accentColor);

}

input[type="range"]::-moz-range-track {
	background: var(--backgroundColor) !important;
	border: 1px solid var(--accentColor);

}

input[type="range"]::-webkit-slider-runnable-track {
	background: var(--backgroundColor) !important;
	border: 1px solid var(--accentColor);
}

input[type="range"] {
	background: var(--backgroundColor) !important;
	/* border: 1px solid yellow; */
}

.tree-vis {
	border: 2px solid var(--secondaryColor);
	border-radius: 25px;
	margin: 0 1em 1em 1em !important;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}