#algorithm {
	margin: 0px 26px 20px 0px;
	padding: 0;
	text-transform: none;
	text-align: unset;
	border-radius: 15px;
}

span.MuiButton-label {
	height: 100%;
}

#card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #262d4a;
	border-radius: 15px;
}

#card-content {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 100%;
	padding: 13px 0px 0px 0px;
	margin: 0px;
}

.CardHeader {
	display: inherit;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: flex-start;
}

.CardBody {
	margin: 10px 0px 0px 0px;
	position: relative;
	padding: 0px 0px 20px 0px;
}

#favorite-icon {
	padding: 0;
}

#card-title {
	font-size: 1.5em;
	font-weight: bold;
	color: #ffffff;
}

#card-info {
	font-size: 1.14em;
	color: #99afc2;
}

@media (max-width: 639px) {
	#algorithm {
		margin: 0px 0px 20px 0px;
	}
}

@media (max-width: 358px) {
	#algorithm {
		width: 280px !important;
	}
}
