.dark-mode {
	background-color: #112;
	color: #d3d3d3;
}

.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.parent-svg {
	display: flex;
	justify-content: space-around;
}

#message-pane {
	height: 150px;
	width: 100%;
}

#banner {
	height: 50px;
	width: 100%;
}

#sorted-division {
	height: 100px;
	padding-left: 50px;
}

.inputBox {
	font-size: 15px;
	border-radius: 15px;
    width: 50px;
    height: 40px;
	padding-left: 10px;
    
}
#removeBut {
	margin-left: 50px;
	color: red;
}
#insertBut {
	color: green;
}

.gbar:hover rect{
	fill:#FFC904 !important;
	}
  
  .gbar:hover text{
	font-weight:700;
	}

#pseudocodeDiv {
	border: solid 1px #FFC904;
	background-color: white;
	display: block;
	border-radius: 15px;
}

