.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* .parent-svg {
	display: flex;
	justify-content: space-around;
} */

#message-pane {
	height: 150px;
	width: 100%;
}

 

#sorted-division {
	height: 100px;
	padding-left: 50px;
}

.inputBox {
	font-size: 15px;
	border-radius: 15px;
	border-color: var(--accentColor);
    width: 60px;
    height: 55px;
	padding-left: 15px;
	background-color: var(--backgroundColor);
    color: var(--primaryColor);
    outline: var(--accentColor);
    
}
#removeBut {
	margin-left: 50px;
	color: red;
}
#insertBut {
	color: green;
}

.gbar:hover rect{
	fill: var(--accentColor) !important;
	}
  
  .gbar:hover text{
	font-weight:700;
	}

