.AlgorithmPage {
	overflow: overlay;
	width: 100%;
	height: 100%;
}
.button-location{
	margin-left: 3%;
	/* display: flex; */
	float: left;
}
.checkbox-location{
	margin-right: 5%;
	margin-top: -1.5%;
	/* display: flex; */
	float: right;
}
.container{
	/* width: 100%; */
	justify-content: space-between;
	display: flex;
	align-items: center;
	align-content: center;
	margin-top: 2em;
}

#visualizerDiv {
	margin-left: auto;
	margin-right: auto;
}