#header-bar {
	position: inherit;
	background-color: #1b203d;
	display: flex;
	flex-direction: column;
}

#toolbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 3px 0px 3px;
}

.MenuTools {
	display: inherit;
	width: 850px;
	align-items: center;
	justify-content: inherit;
}

.LeftMenus,
.RightMenus {
	display: inherit;
	align-items: inherit;
}

#menu-icon {
	font-size: 1.5em;
	color: #ff335c;
}

#header-title {
	font-size: 1.5em;
	width: max-content;
}

#search-input {
	display: inherit;
	margin: 0px 10px 0px 30px;
	width: 100%;
}

#input-icon {
	color: #ffffff;
}

.SearchInputMobile {
	display: inherit;
}

#search-button-mobile {
	padding: 0;
	font-size: 1.3em;
	color: #ffffff;
}

.TopPageToggle {
	margin: 0px 0px 0px 15px;
}

.Results {
	background-color: #bfcdd9;
	position: absolute;
	z-index: 1;
	width: 100%;
	max-height: 500px;
	top: 37px;
	border-radius: 7px;
	overflow: overlay;
	display: flex;
	flex-direction: column;
}

#result-item {
	padding: 0;
}

#result-button {
	color: #4d6780;
	text-transform: none;
	width: 100%;
	text-align: left;
	justify-content: flex-start;
	font-size: 1.05em;
	font-weight: 100;
	padding-left: 25px;
}

@media (max-width: 610px) {
	.TopPageToggle {
		display: none;
	}

	#toolbar {
		padding: 0px 10px 0px 3px;
	}
}

@media (max-width: 650px) {
	#search-input {
		margin: 0px 0px 0px 10px;
	}
}
