.InformationPage {
	margin: 20px 30px 20px 30px;
	background-color: #000000;
	padding: 13px 25px 25px 25px;
}

table {
	color: #000000;
}

a {
	color: #FFC904 !important;
}

h3{
	/* font-family: Segoe UI,Helvetica,Arial,sans-serif, Apple Color Emoji,Segoe UI Emoji; */
	width: 100%;
	display: inline-block;
    text-align: center;
}

hr{
	border-bottom: 0.4px solid #eaecef;
}