.InformationPage {
	margin: 20px 30px 20px 30px;
	background-color: var(--backgroundColor);
	padding: 13px 25px 25px 25px;
}

th{
	color: var(--primaryColor) !important;
	background-color: var(--backgroundColor) !important;
}

tr{
	color: var(--primaryColor) !important;
	background-color: var(--backgroundColor) !important;
}

table td{
	color: var(--primaryColor) !important;
	background-color: var(--backgroundColor) !important;
}

tbody{
	color: var(--primaryColor) !important;
	background-color: var(--backgroundColor) !important;
}

thead{
	color: var(--primaryColor) !important;
	background-color: var(--backgroundColor) !important;
}

a {
	color: var(--accentColor) !important;
}

h3{
	/* font-family: Segoe UI,Helvetica,Arial,sans-serif, Apple Color Emoji,Segoe UI Emoji; */
	width: 100%;
	display: inline-block;
    text-align: center;
}

hr{
	border-bottom: 0.4px solid var(--backgroundColor);
}