.button {
  background-color: var(--backgroundColor);
  border: 2.5px solid var(--primaryColor);
  color: var(--primaryColor);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin: 4px 4px;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 15px;
  white-space: nowrap;

}

.button:hover {
  background-color: var(--primaryColor);
  color: var(--backgroundColor);
}

.button:active {
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
}

.button2 {
  background-color: var(--accentColor);
  border: 2.5px solid var(--accentColor);
  color: var(--backgroundColor);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin: 4px 4px;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 15px;
}

.button2:hover {
  background-color: var(--accentColor);
  border: 2.5px solid var(--accentColor);
  color: var(--primaryColor);
}

.button2:active {
  background-color: var(--accentColor);
  border: 2.5px solid var(--accentColor);
  color: var(--backgroundColor);
}

#removeBut {
	color: red;
}
#insertBut {
	color: green;
}
#searchBut {
	color: rgb(251, 255, 10);
}