.button {
  background-color: #181818;
  border: 2.5px solid white;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin: 4px 4px;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 15px;
  white-space: nowrap;

}

.button:hover {
  background-color: white;
  color: black;
}

.button:active {
  background-color: black;
  color: white;
}

.button2 {
  background-color: #FFC904;
  border: 2.5px solid #FFC904;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin: 4px 4px;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 15px;
}

.button2:hover {
  background-color: #FFC904;
  border: 2.5px solid #FFC904;
  color: white;
}

.button2:active {
  background-color: #e0b20b;
  border: 2.5px solid #e0b20b;
  color: black;
}