.inputValue {
    border-radius: 15px;
    margin-right: 15px;
    width: 5%;
    height: 40px;
    font-size: 24px;
    padding-left: 20px;
}

/* Use to hide spinhox in input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}