.inputValue {
    border-radius: 15px;
    border-color: var(--accentColor);
    margin-right: 15px;
    width: 5%;
    height: 40px;
    font-size: 24px;
    padding-left: 20px;
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    outline: var(--accentColor);
}
.inputValue2 {
    font-size: 15px;
	border-radius: 15px;
    border-color: var(--accentColor);
    width: 85px;
    height: 50px;
	padding-left: 10px;
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    outline: var(--accentColor);
}


.sortInput {
    border-radius: 15px;
    border-color: var(--accentColor);
    font-size: 20px;
	border-radius: 15px;
    width: 300px;
    height: 55px;
    padding-left: 10px;
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    outline: var(--accentColor);
}

.searchInput {
    border-radius: 15px;
    border-color: var(--accentColor);
    font-size: 20px;
    width: 85px;
    height: 55px;
    padding-left: 10px;
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    outline: var(--accentColor);
}

/* Use to hide spinhox in input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}