.Dashboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: baseline;
	overflow: overlay;
	padding: 17px 0px 0px 30px;
}

@media (max-width: 1358px) {
	.Dashboard {
		justify-content: center;
		padding: 17px 0px 0px 0px;
	}
}

.progress-header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #FFC904;
}

.list {
	overflow: auto;
	white-space: nowrap;
  }
  
.list a {
	display: inline-block;
	color: #FFC904;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

.category {
	margin: 2em;
	box-shadow: inset;
}

#dashboard-title {
	font-size: 48pt;
	font-weight: 700;
	color: #FFC904;
	text-align: center;
}
