html,
body,
#root,
.App {
	height: 100%;
	background-color: #000000;
	color: #ffffff;
}

.App {
	font-family: Roboto;
}

.App {
	display: flex;
	flex-direction: row;
}

.Main {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#markdown-renderer {
	background-color: #000000;
}

.Link {
	text-decoration: none;
	color: '#ffffff';
	display: contents;
}
