.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#message-pane {
	height: 150px;
	width: 100%;
}

 

#sorted-division {
	height: 100px;
	padding-left: 50px;
}

.container-tree {
	height: 100%;
	width: 100%;
}

.tree-vis {
	border: 2px solid var(--secondaryColor);
	border-radius: 25px;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}